.NavBar {
    font-size: 14px;
    display: flex;
    margin: 0;
    line-height: 50px;
    justify-content: space-evenly;
  }
  
.NavBar a {
color: #000;
display: block;
padding: 10px;
text-decoration: none;
}